<%- include("header");-%>

<div class="container text-left ">
  <h4>Add a New Movie:</h4>
</div>

<div class="container bg-white border-right border-left border-top border-bottom shadow-sm text-left py-3">
  <form action="/admin/newmovie" method="POST">
      <div class="form-group">
          <label for="New Movie Id">New Movie Id</label>
          <input type="text" class="form-control" name="movie_id">
      </div>
      <button type="submit" class="btn btn-primary">Find</button>
      <!-- <button class="btn btn-success" type="button" name="button">Re-Train</button> -->
      <a class="btn btn-success" href="/re_train" role="button">Re-Train</a>
  </form>

</div>

<div class="container  mt-5 mb-3">
  <div class="row">
    <div class="col">
      <h4 class="text-left">Analyze Ratings:</h4>
    </div>

    <div class="col">
      <div class="text-right dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/admin/rating">Rating</a>
          <a class="dropdown-item" href="/admin/count">Count</a>
          <a class="dropdown-item" href="/admin/a~z">A~Z</a>
          <a class="dropdown-item" href="/admin/z~a">Z~A</a>
        </div>
      </div>
    </div>
  </div>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Count</th>
      <th scope="col">Rating(avg.)</th>
    </tr>
  </thead>
  <tbody>
    <% var i=1; %>
    <% items.forEach(function(item){ %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= item.title %></td>
        <td><%= item.count %></td>
        <td><%= item.rating %></td>
      </tr>
      <% ++i; %>
   <%});%>



  </tbody>
</table>



<%- include("footer");-%>
