<%- include("header");-%>


<div class="container ">
  <div class="row">
    <div class="col">
      <h2 class="text-left">Recommend:</h2>
    </div>

    <div class="col">
      <div class="text-right dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By:
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/recommend/top10?page=1">Top 10</a>
          <a class="dropdown-item" href="/recommend/top25?page=1">Top 25</a>
          <a class="dropdown-item" href="/recommend/top50?page=1">Top 50</a>
          <a class="dropdown-item" href="/recommend/a~z?page=1">A~Z</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container ">

     <div class="mt-5 row text-center" style="display:flex; flex-wrap: wrap;">
       <% items.forEach(function(item){ %>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="thumbnail">
                   <img src=<%= item.poster_url%> alt="..." class="img-thumbnail" style="width:140px; height:200px;">
                   <div class="caption">
                       <h4><%=item.title%></h4>
                   </div>
                </div>
            </div>

      <%});%>




    </div>
</div>

<nav aria-label="Page navigation">
    <% if (pages && pages > 0) { %>
    <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li><a class="page-link" href="/recommend/<%=type%>">First</a></li>
        <% } %>

        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">«</a></li>
        <% } else { %>
        <li><a class="page-link" href="/recommend/<%=type%>?page=<%= Number(current) - 1 %>">«</a></li>
        <% } %>

        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li><a class="page-link" href="/recommend/<%=type%>?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% } %>

        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">»</a></li>
        <% } else { %>
        <li><a class="page-link" href="/recommend/<%=type%>?page=<%= Number(current) + 1 %>">»</a></li>
        <% } %>

        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li><a class="page-link" href="/recommend/<%=type%>?page=<%= pages %>">Last</a></li>
        <% } %>
    </ul>
    <% } %>
</nav>


<%- include("footer");-%>
